.cats {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 12px;
  width: 740px;

  &_loading,
  &_error {
    font-size: 20px;
    text-align: center;
    padding: 30px 0;
  }

  &_error {
    color: tomato;
  }
}
